[submodule "thirdparty/diff-gaussian-rasterization-w-pose"]
	path = thirdparty/diff-gaussian-rasterization-w-pose
	url = https://github.com/VSLAM-LAB/diff-gaussian-rasterization-w-pose.git
[submodule "thirdparty/simple-knn"]
	path = thirdparty/simple-knn
	url = https://github.com/VSLAM-LAB/simple-knn.git
